apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 10m
  retryInterval: 5m
  path: "gitops/traefik"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  timeout: 5m
  wait: true
  healthChecks:
    - apiVersion: batch/v1
      kind: Job
      name: traefik-middleware-crd
      namespace: traefik
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: traefik
      namespace: traefik
