apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend-ingress
  namespace: app-backend
spec:
  ingressClassName: traefik
  rules:
  - host: frontend.127.0.0.1.traefik.me
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: backend
            port:
              number: 80